@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: #494949;
  font-family: "Poppins", sans-serif;
}

textarea {
  resize: none; /*remove the resize handle on the bottom right*/
}

.loading{
    width: 25px!important;
    height: 25px!important;
}

.box {
  inline-size: 150px;
  overflow-wrap: break-word;
}